.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 23.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.image {
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: 5px solid white;
}
