.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 23.5rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover .image {
    transform: scale(1.05);
    box-shadow: 6px 6px 14px -4px rgba(0, 0, 0, 0.6);
  }
}

.image {
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: 5px solid white;
}
